#Practical 2
 
Name: Shreyas Dongre   
Roll no: 082        
Division: I                         
Semester: 2nd Semester                                           
Batch: I3                                              
Experiment 1- To study basic data types list and tuple.                                      
Date of Experiment: 18/2/2021

#Task 1: Write a python program to print list elements 
1.	separated by commas.
2.	every element on the new line.

In [1]:
#1
list=[1,2,3,4]
print(list)
#2
print(*list,sep="\n")

[1, 2, 3, 4]
1
2
3
4

#Task 2:  Write a python program to print a list by converting a list to a string.

In [2]:
list=["Hello","World","Python"]
print(" ".join(list))
list1=[1,2,3]
str(list1)[1:8]  #type casting

Hello World Python

'1, 2, 3'

#Task 3:  Write a python program to convert radian to degrees and vice versa.

In [3]:
import math
x=int(input("Enter value in Radian:"))
print("Value converted to Degree",x,"Radians:",math.degrees(x))
y=int(input("Enter value in Degrees:"))
print("Value converted to Radian",y,"Degrees:",math.radians(y))

Enter value in Radian:69
Value converted to Degree 69 Radians: 3953.40878640268
Enter value in Degrees:42
Value converted to Radian 42 Degrees: 0.7330382858376184

#Task 4: Write a program to input sides of a triangle and find sine, cosine, tangent and hypotenuse.

In [6]:
import math
a=math.pi/6
b=int(input("b:"))
c=int(input("c:"))
print(math.sin(a))
print(math.cos(a))
print(math.tan(a))
print(math.hypot(b,c))

b:5
c:6
0.49999999999999994
0.8660254037844387
0.5773502691896257
7.810249675906654

#Task 5:  
Write a Python program using mathematical functions to find
1.	HCF of two numbers (User input)
2.	Factorial of a user given number.
3.	Absolute value of a user given number.

In [7]:
#1
import math
x=int(input('Enter first no: '))
y=int(input('Enter second no: '))
print("HCF of two given nos is :",math.gcd(x,y))

Enter first no: 69
Enter second no: 420
HCF of two given nos is : 3

In [8]:
#2
import math
a=int(input("Given number is:"))
print("Factorial of given number:",math.factorial(a))

Given number is:56
Factorial of given number: 710998587804863451854045647463724949736497978881168458687447040000000000000

In [9]:
#3
b=int(input("Given number is:"))
print("Absolute value of given number:",abs(b)) #math.fabs()

Given number is:-10
Absolute value of given number: 10

#Task 6 : 
1.	Create a 'class_1' list and pass the elements  'Geoffrey Hinton','Andrew Ng','Sebastian Raschka','Yoshua Bengio'.
2.	Create a 'class_2' list and pass the elements 'Hilary Mason','Carla Gentry','Corinna Cortes'.
3.	Concatenate the 'class_1' and 'class_2' list. Store the values in a'new_class' variable.
4.	Print the 'new_class' variable to see the new list.
5.	Add a new element ‘Henry’ in the new list. 
6.	Remove the 'Hilary' element.
7.	Create the following list for marks of 5 subjects Andrew= [98, 93, 90, 100, 92], Carla= [60, 65, 60, 75, 69], Hilary= [87, 50, 54, 77, 52]
8.	Find and display percentage of all the students in a list.
9.	Andrew Ng turns out to be topper in class. Assign it to variable ‘topper’
10.	Split the 'topper'  in 'first_name' and 'last_name'.
11.	Display the ‘full name’ concatenating the strings 'last_name' and 'first_name' strings.( add whitespace)
12.	Convert all the elements in the 'full_name' string to uppercase.

In [10]:
#1-6
class_1=['Geoffrey Hinton','Andrew Ng','Sebastian Raschka','Yoshua Bengio']
class_2=['Hilary Mason','Carla Gentry','Corinna Cortes']
new_class= class_1 + class_2
print(new_class)
new_class.append('Henry')
new_class.remove('Hilary Mason') 
print(new_class)

['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yoshua Bengio', 'Hilary Mason', 'Carla Gentry', 'Corinna Cortes']
['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yoshua Bengio', 'Carla Gentry', 'Corinna Cortes', 'Henry']

In [11]:
#7-12
Andrew= [98, 93, 90, 100, 92] 
Carla= [60, 65, 60, 75, 69] 
Hilary= [87, 50, 54, 77, 52]
percentage1=(sum(Andrew)/len(Andrew)) 
print(percentage1)
percentage2=(sum(Carla)/len(Carla) )
print(percentage2)
percentage3=(sum(Hilary)/len(Hilary) )
print(percentage3)
topper="Andrew Ng"
s= topper.split()
first_name=s[0]
print("First name:",first_name)
last_name=s[1]
print("Last namr:",last_name)
full_name=first_name + last_name
print(full_name)
print(full_name.upper())

94.6
65.8
64.0
First name: Andrew
Last namr: Ng
AndrewNg
ANDREWNG

#Task 7 :
1.	Write a Python program to clone or copy a list
2.	Write a Python program to check if a Python list is empty

In [12]:
#1
l=[1,2,3]
l2=l.copy()
print(l2)

[1, 2, 3]

In [31]:
#2
try:
  l=[]
  while True:
    print('Enter no or enter stop to complete the list')
    l.append(int(input()))
except:
  print(l)
if len(l)==0:
  print("Given list is empty")
else:
  print("The list is NOT Empty")

Enter no or enter stop to complete the list
3
Enter no or enter stop to complete the list
5
Enter no or enter stop to complete the list
stop
[3, 5]
The list is NOT Empty

#Task 8 : 
Tuple = ("NMIMS", [10, 20, 30], (5, 15, 25))
1.	Access value 20 
2.	Unpack the following tuple into 3 variables

In [25]:
Tuple = ("NMIMS", [10, 20, 30], (5, 15, 25))
#1
print(Tuple[1][1])
#2
a=Tuple[0]
b=Tuple[1]
c=Tuple[2]
print("a:",a)
print("b:",b)
print("c:",c)

20
a: NMIMS
b: [10, 20, 30]
c: (5, 15, 25)

#Task 9:
1.	Write code to swap the following two tuples :   tuple1 = (11, 22)   tuple2 = (99, 88)
Expected Output :  tuple1 = (99, 88)    tuple2 = (11, 22)

2.	tuple1 = (11, [22, 33], 44, 55)
Modify the first item (22) of a list inside a following tuple to 2000

In [26]:
#1
tuple1 = (11, 22) 
tuple2 = (99, 88)
print("tuple 1:",tuple1,"tuple 2:",tuple2)
a=tuple1
tuple1=tuple2
tuple2=a
print("tuple 1:",tuple1,"tuple 2:",tuple2)

tuple 1: (11, 22) tuple 2: (99, 88)
tuple 1: (99, 88) tuple 2: (11, 22)

In [27]:
#2
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=2000
tuple1

(11, [2000, 33], 44, 55)

#Task 10:
tuple1 = (11, 22, 33, 44, 55, 11, 66, 11)
1.	Write code to copy element 44 and 55 from the following tuple into a new tuple ‘tuple2’
2.	Count the number of occurrences of item 11 in the tuple.
3.	Reverse the tuple.

In [32]:
tuple1 = (11, 22, 33, 44, 55, 11, 66, 11)
#1
tuple2=(tuple1[3],tuple1[4])
print(tuple2)
#2
x=tuple1.count(11)
print("11 occurs",x,"times")
#3
tuple2=tuple1[::-1]
tuple2

(44, 55)
11 occurs 3 times

(11, 66, 11, 55, 44, 33, 22, 11)

#Conclusion:
###1: Used lists and learnt to manipulate and operate on its elements.
###2: Executed various operations on lists like adding two lists, removing elements etc.
###3: Converted list to a string.
###4: Learnt various math functions like sin,cos,tan,hypot and imported them from math library.
###5: Learnt the basics of tuples and manipulated its elements.
###6: Learnt the major difference between lists and tuples i.e lists are mutable whereas tuples are not.
###7: Learnt slicing in lists and tuples.
###8: Divided tuple into various parts and assigned them to a specific variable.